<h1>Вагоны</h1>

<table>
  <thead>
  <tr>
    <th>Номер.</th>
    <th colspan="3"></th>
  </tr>
  </thead>
   <%= render partial: "wagon", collection: @wagons, as: :wagon %>
  <tbody>

  </tbody>
</table>